.custom-dropdown {
    height: 35px;
    width: 53%;
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
  }
  
  .custom-dropdown:hover {
    background-color: #e1e1e1;
  }
  
  .custom-dropdown:focus {
    outline: none;
    border-color: #007bff;
  }
  

  .button {
    border: none;
    margin-left: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #41B494;
    color: #41B494;
    background-color: transparent;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .button:hover {
    background-color: #41B494;
    color: white
  }
  